
    <mat-toolbar color="primary">

        <span class="header" routerLink="/dashboard">
          <img src="./assets/logo.png" style="width: 35px; height: 30px; margin:2%">Shopping kart</span>
        <span class="search-bar">
             <!-- <mat-icon matTooltip="Search">search</mat-icon> -->
              <input type="text"
                     placeholder="Search for Product, brands or more..."
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredOptions | async; track option) {
                   
                  <mat-option [value]="option.title"
                  routerLink="/dashboard/product/{{option.id}}"> <mat-icon>search</mat-icon>{{option.title}}</mat-option>
                  
                }
              </mat-autocomplete>
        
 
          
        </span>
      
        <span class="example-spacer"></span>
        <button routerLink="/profile" mat-raised-button color="secondary">  <mat-icon>account_circle</mat-icon>My Profile </button>
        <button routerLink="/cart">
         <mat-icon matTooltip="Cart"  [matBadge]="badgeCount"  matBadgeColor="warn" aria-hidden="false" >
            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
            </svg></mat-icon></button>
        <button routerLink="/login" mat-raised-button color="warn"> Logout </button>

    </mat-toolbar>

