<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p style="text-align: justify;">E-commerce is revolutionizing the way we all shop in India.
                    In Shopping Kart everything you can possibly imagines, from trending electronics to jewelery
                    and wardrobes to appliances that makes life easy . You named it and you can stay assured
                    about finding them all here.</p>
            </div>
            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p><b>Register Office Address </b></p>
                <p style="text-align: justify;"> Shopping Kart Private Limited,
                    Buildings Alyssa, Begonia &
                    Clove Embassy Tech Village,
                    Outer Ring Road, Devarabeesanahalli Village,
                    Bengaluru, 560103, Karnataka, India
                <p><b>Phone:</b> 123-456-7890</p>
            </div>
        </div>
    </div>
</footer>