.carousel-container {
  height: 30%;
  width: 40%;
  object-fit: fill;
  padding: 1.5%;
  margin: 0 auto;
}

.carousel-caption {
  color: rgb(21, 58, 6);
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 1%;
  width: max-content;
}

.center {
    padding: 0%;
    margin: 0% 2%;
}
