table{
    padding:2%;
    margin-bottom: 2%;
}
.example-spacer {
    flex: 1 1 auto;
  }
  button{
    margin: 2%;
  }
  .margin {
    margin: 1%;
    size: 2%;
  } 
  /* mat-toolbar{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  } */
  .description{
    text-align: justify;
    justify-content: center;
    padding:2%;
  }

  .empty-cart {
    text-align: center;
    padding: 50px;
  }
  
  .empty-cart img {
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
  }
  
  .empty-cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .empty-cart p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .mat-header-row{
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(231, 158, 158);
    }
  