<div class="header">
    <h1 style="color: white;font-weight: bold;" mat-dialog-title>{{msg}} Address</h1>
    <span class="close-button topright">
        <button mat-icon-button mat-dialog-close>
            <mat-icon fontIcon="close-button"></mat-icon>
        </button>
    </span>
</div>

<form [formGroup]=" editForm">
    <div mat-dialog-content>
        <mat-form-field appearance="fill" style="width: 95%;">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" placeholder="John Doe">
            <mat-error *ngIf="editForm.get('fullName')?.hasError('required')">Full name is
                required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 95%;">
            <mat-label>Address Line 1</mat-label>
            <textarea matInput formControlName="addressLine1" placeholder="123 Main St"></textarea>
            <mat-error *ngIf="editForm.get('addressLine1')?.hasError('required')">Address line 1
                is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <!-- <span matTextPrefix>+91 &nbsp;</span> -->
            <input maxlength="10" matInput formControlName="phoneNumber" placeholder="9876767876">
           
            <mat-error *ngIf=" editForm.get('phoneNumber')?.hasError('required')">Phone Number is
                required</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="New York">
            <mat-error *ngIf=" editForm.get('city')?.hasError('required')">City is
                required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="NY">
            <mat-error *ngIf="editForm.get('state')?.hasError('required')">State is
                required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Pin Code</mat-label>
            <input maxlength="6" matInput formControlName="pinCode" placeholder="490001"
                (keyup)="getpincode()">
            <mat-error *ngIf="editForm.get('pinCode')?.hasError('required')">Pin code is
                required</mat-error>
            <mat-error *ngIf="editForm.get('pinCode')?.hasError('minlength')">Pin code length is
                6</mat-error>
        </mat-form-field>

    </div>

    <div mat-dialog-actions class="btn">
        <button [disabled]="!editForm.valid" type="submit" mat-raised-button class="btn-inside"
            (click)="editSubmission()" color="accent">{{msg == 'Add' ? 'Add' : 'Update' }}</button>
        <button type="button" mat-raised-button [mat-dialog-close]="{close:false}" class="btn-inside"
            color="warn">Cancel</button>
    </div>
</form>
