.close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    /* overflow: hidden; */
    text-decoration: none;
    color: red;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    height:4px;
  }
  
  .topright {
    position: absolute;
    right: 0;
    top: 0
  }
  .header{
    background-color: black !important;
    color:white;
  }
  .btn{
    margin: 2%;
    margin-left: 6%;
    button{
      flex:1
    }
  }
  .btn-inside{
    margin: 2%;
  }
  mat-form-field{
    width:100%
  }