<p>
    <mat-toolbar color="primary">

        <span>Shopping kart</span>
        <span class="example-spacer"></span>

        <input matInput (input)="Filterchange($event)" placeholder="Enter search text" class="filter">
        
        <button routerLink="/cart">
            <mat-icon matTooltip="Cart" [matBadge]="badgeCount" [matBadgeHidden]="badgevisibility" matBadgeColor="warn"
                aria-hidden="false">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
                </svg></mat-icon></button>
        <button routerLink="/login" mat-raised-button color="warn"> Logout </button>

    </mat-toolbar>
</p>



<div class="category-selector">

    <!-- <span>Choose Category</span> -->

    <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile *ngFor="let category of categories" (click)="selectCategory(category)">
            <img mat-card-image [src]="'assets/' + category+'.jpg'" alt="{{ category }}" />
            <mat-grid-tile-footer>
                <h3>{{ category }}</h3>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<br>
<app-carousel></app-carousel>

<!-- <div class="selected-category">
    <p *ngIf="selectedCategory">Selected Category: {{ selectedCategory }}</p>
</div> -->



<div class="cart-container">
    <div fxLayout="row wrap center" fxLayoutGap="35px" class="center">
        <div fxFlex="25" *ngFor="let item of registerArr; let i = index" class="mat">
            <!-- Your item card template goes here -->

            <mat-card>
                <mat-card-header>
                    <mat-card-title class="wrap">{{item.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img class="image" [src]="item.image" alt="img not available" height="150px" width="150px">
                    <p class="description"> {{item.description}} </p>
                    <p>
                        <span><strong>Price: </strong>{{item.price | currency:'INR' }}</span>
                        <span style="margin-left:47%"><strong>Rating: </strong>{{item.rating.rate}}</span>
                    </p>
                    <mat-form-field>
                        <mat-label><strong>Quantity</strong></mat-label>
                        <input matInput type="number" min="1" max="10" [value]="getItemQuantity(item)"
                            (input)="updateQuantity($event, i,item)">

                    </mat-form-field>
                    <span style="margin-left:11%"><strong>Total: </strong> {{ item.price * getItemQuantity(item) |
                        currency:'INR' }}</span>
                </mat-card-content>
                <!-- Add buttons for actions like remove or update quantity -->
                <mat-card-actions>
                    <button id="addToCartBtn" [hidden]="isInCart(item)"  mat-raised-button color="primary"
                        (click)="addtocart($event, item, i)"> Add to Cart </button>
                      <button disabled="true" [hidden]="!isInCart(item)" id="addedToCartBtn" mat-raised-button color="green">Added to Cart</button>
                        <!-- [disabled]="getItemQuantity(item) === 0" -->

                        <button mat-raised-button color="secondary" routerLink="/dashboard/product/{{item.id}}" (click)="detailpopup()">Product Detail </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
