<p>order-details works!</p>
<!-- *ngFor="let item of profiles" 
 <div class="product-details-container" >
    <div class="product-image">
         <img src="{{item.image}}" alt="Product Image"> 
        Hello, {{profiles.firstname}}
    </div>
     <div class="product-details">
         <h2>{{item.title}}</h2> 
        <h1> <span style="background-color: green;color: white;">{{item.rating.rate}}
                <mat-icon>star</mat-icon></span>
            <span style="margin-left:2% ;">{{item.rating.count}} Ratings & 1,880 Reviews</span>
            <span> <img src="assets/assured.jpg" style="height: 40px; width: 50px;margin-left: 3%;"></span>
        </h1>

        <h3 style="text-align: justify;">{{item.description}} </h3>
        <h3 style="display:flex;"><strong>Price: </strong> {{ item.price | currency:'INR' }} </h3>
        <h3><strong>Quantity: </strong> {{ item.quantity }} </h3>
        <h2><strong>Amount: </strong> {{ item.amount | currency:'INR' }} </h2>

    </div> 
</div>  -->
