
 
.container{
    border: 3px solid;
    border-radius: 3%;
    
    background: linear-gradient(to right, rgba(223, 225, 233, 0.5), rgba(46, 87, 107, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: max-content;
  } 
  
  input{
    width:350px;
    margin:1px;
  }
  label{
      text-align: left;
      margin-top: 1px;
  }
  .form-group {
    margin-top: 8px;
  }
  
 form{
    margin-bottom: 4%;
 }
  
    .margin { 
      margin:20px;
      padding:10px;
  }  